.headerContainer {
  display: flex;
}

.logo {
  width: 180px;
  height: 50px;
  margin-top: 7px;
}

.logoTitle {
  color: white;
  font-size: large;
}

.contentContainer {
  align-self: center;
}

.calendar {
  width: 60vw;
  margin: 0 auto;
}

.upload {
  margin: auto;
}

.dot {
  background: #BA8D93;
  border-radius: 50%;
  height: 40vw;
  width: 40vw;
  text-align: center;
  padding-top: 25%;
}

.newS3ConfigInputContainer {
  margin: auto;
  width: 80%;
}

.newS3Tooltip {
  display: inline-flex !important;
  width: calc(50%);
  margin: auto;
  justify-content: center;
}

.newS3TextArea {
  text-align: left !important;
  width: calc(50%) !important;
  display: block !important;
  margin: auto !important;
}

.selectDropdown {
  width: 309px;
}

.space {
  padding: 0 8px 4px;
}

.saveRemoteStoreButton {
  white-space: nowrap;
}

.divider {
  margin: 8px 0 !important;
}

.uploadedFilesTable {
  margin: auto;
  width: calc(60%);
}

.optionalWarning {
  margin: 20px;
}

.ant-upload-list {
  margin: auto !important;
  width: fit-content;
}

.userStatusContainer {
  position: absolute;
  right: 0;
  padding-right: 20px;
}
