.unknown-value {
    opacity: 1;
    display: block;
}

.revealed {
    transform: rotateY(360deg);

}

.actual-value-hidden,.unknown-value-hidden {
    opacity: 0;
    display: none!important;
}

.actual-value {
    opacity: 1;
    transform: rotateY(360deg);
}