.boardRow{
  display: flex;
}
.boardItem {
  height: 50px;
  width: 50px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
