.App-header {
  display: flex;
  flex-direction: column;
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .nav-bar {
  padding-top: "4vh";
} */

.opentdf-logo {
  max-height: 6vh;
}

.ProtectEntitleAuthImage {
  max-width: 100%;
}

.OpenTDF-Banner {
  max-height: 50vh;
  width: auto;
  display: block;
}

.header-section {
  text-align: left;
  width: 60vw;
  align-content: center;
  color:black;
}

.lightblue-bg {
  /* background-color: #68ABE5; */
}

.header-detail {
  margin: auto;
  width: 60vw;
  text-align: left;
  background-color: #004A87;
  padding: 10px;
  border-radius: 5px;
  border-color: white;
  border-width: 30px;
  color: white;
}

.light-blue-theme {
  color: #68abe5;
}
