html, body {
  height: 100vh;
  width: 100vw;
  }

.App-header {
  display: flex;
  flex-direction: column;
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .nav-bar {
  padding-top: "4vh";
} */

.opentdf-logo {
  max-height: 6vh;
}

.ProtectEntitleAuthImage {
  max-width: 100%;
}

.OpenTDF-Banner {
  max-height: 50vh;
  width: auto;
  display: block;
}

.header-section {
  text-align: left;
  width: 55vw;
  color:black;
}

.header-wrapper {
  background-image: linear-gradient(to right, #5EB29E, #1C4880);
  padding: 26vh 40vh ;
}

.subheader {
  font-size: large;
}

.white-font {
  color: white;
}

.header-detail {
  margin: auto;
  width: 60vw;
  text-align: left;
  margin-top: 10px;
  color: white;
  
}

.light-blue-theme {
  color: #68abe5;
}
