.App-header {
  display: flex;
  flex-direction: column;
  color: white;
}

.App-link {
  color: #61dafb;
}

.opentdf-logo {
  size: 10px;
}

.ProtectEntitleAuthImage {
  max-width: 100%;
}

.OpenTDF-Banner {
  max-height: 50vh;
  width: auto;
  display: block;
}

.header-section {
  margin: 20px 20px 20px 20px;
  text-align: center;
}

.header-detail {
  margin: auto;
  width: 60vw;
  text-align: left;
  background-color: #004A87;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.light-blue-theme {
  color: #68abe5;
}
